In [1]:
import numpy as np

## Array routines are nothing but just ways of creating arrays.

# 1. np.empty(shape,dtype,order)  
   ## --It creates an uninitialized array of specified shape and dtype
#### shape--> refers sahpe of the array
#### dtype--> refers type of the array and *order* refers order style

In [2]:
arr = np.empty([3,4],dtype=int)

In [3]:
arr

array([[4611686018427387904, 4611686018427387904,         34359738374,
                          0],
       [                  0,                   0,                   0,
                          0],
       [                  0,                   0,                   0,
           1688849860263936]])

#### Values of the array are random values as they were not initialised

# 2. np.zeros(shape, dtype, order)
## -- It creates a new array of specified size and filled with zeroes

In [4]:
arr2 = np.zeros([5,3],dtype=float, order = 'C')

In [5]:
arr2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

# 3. np.ones(shape, dtype, order)
## -- it returns new array of specified size and filled with ones

In [6]:
arr3 = np.ones([3,3], dtype=int)

In [7]:
arr3

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

# Array from existing data

## np.asarray(a, dtype, order) 

##  a--> It can be list, list of tuple, tuple of list, etc
 This is same as **np.array()**. The only difference is parameters are less in this. It can be used to convert python sequence into nd array.

In [8]:
a = ['a','s',2,4]
arr4 = np.asarray(a)

In [9]:
arr4

array(['a', 's', '2', '4'], dtype='<U21')

# np.arange(start, stop, step, dtype)
## It gives an array of specified range with even space

In [10]:
arr5 = np.arange(10)
arr5

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
arr6 = np.arange(20,25,0.1)
arr6

array([20. , 20.1, 20.2, 20.3, 20.4, 20.5, 20.6, 20.7, 20.8, 20.9, 21. ,
       21.1, 21.2, 21.3, 21.4, 21.5, 21.6, 21.7, 21.8, 21.9, 22. , 22.1,
       22.2, 22.3, 22.4, 22.5, 22.6, 22.7, 22.8, 22.9, 23. , 23.1, 23.2,
       23.3, 23.4, 23.5, 23.6, 23.7, 23.8, 23.9, 24. , 24.1, 24.2, 24.3,
       24.4, 24.5, 24.6, 24.7, 24.8, 24.9])

# np.linspace(start, stop, num, endpoint, retstep, dtype)
## retstep returns steps between consecutive numbers

In [20]:
arr7 = np.linspace(10,20,num=10,retstep=True)

In [21]:
arr7

(array([10.        , 11.11111111, 12.22222222, 13.33333333, 14.44444444,
        15.55555556, 16.66666667, 17.77777778, 18.88888889, 20.        ]),
 1.1111111111111112)

# np.logspace(start, stop, num, endpoint, base, dtype)

## Start and stop endpoints of the scale are indices of the base, usually 10

In [28]:
arr8 = np.logspace(start=2,stop=6, num=20,base=2)

In [29]:
arr8

array([ 4.        ,  4.62844095,  5.3556164 ,  6.19703857,  7.17065677,
        8.29724036,  9.60082176, 11.10920914, 12.85457963, 14.87416568,
       17.21104938, 19.91508143, 23.0439446 , 26.6643842 , 30.85363193,
       35.70105337, 41.31005433, 47.80028677, 55.31020117, 64.        ])